@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<h2>Add a stylist</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

   @Html.LabelFor(model => model.AmountPaid)
  @Html.TextBoxFor(model => model.AmountPaid)

  <input type="submit" value="Add a new stylist" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to list", "Index", "Stylist")</button>